@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
       url("../font/AnyConv.com__Roboto-Medium.woff2") format('woff2'),
       url("../font/AnyConv.com__Roboto-Medium.woff") format('woff'),
       url("../font/AnyConv.com__Roboto-Medium.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  font-weight: 600;
  font-style: normal;
  src: local("Manrope"),
       url("../font/AnyConv.com__Manrope-SemiBold.woff2") format('woff2'),
       url("../font/AnyConv.com__Manrope-SemiBold.woff") format('woff'),
       url("../font/AnyConv.com__Manrope-SemiBold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-weight: 700;
  font-style: normal;
  src: local("Manrope"),
       url("../font/AnyConv.com__Manrope-Bold.woff2") format('woff2'),
       url("../font/AnyConv.com__Manrope-Bold.woff") format('woff'),
       url("../font/AnyConv.com__Manrope-Bold.eot") format('eot');
  font-display: swap;
}


@font-face {
  font-family: Manrope;
  font-weight: 800;
  font-style: normal;
  src: local("Manrope"),
       url("../font/AnyConv.com__Manrope-ExtraBold.woff2") format('woff2'),
       url("../font/AnyConv.com__Manrope-ExtraBold.woff") format('woff'),
       url("../font/AnyConv.com__Manrope-ExtraBold.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  font-weight: 500;
  font-style: normal;
  src: local("Manrope"),
       url("../font/AnyConv.com__Manrope-Medium.woff2") format('woff2'),
       url("../font/AnyConv.com__Manrope-Medium.woff") format('woff'),
       url("../font/AnyConv.com__Manrope-Medium.eot") format('eot');
  font-display: swap;
}